@import url(https://fonts.googleapis.com/css?family=Open+Sans|Noto+Sans);


.actualservices div {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}


.actualservices .amazingaudioplayer-text {
	display: block;
	position: absolute;
	overflow: hidden;
	width: 100%;
	top:25px;
	height: 290px; /* x2 */
	text-align: center;
	z-index: 1;
}

.actualservices .amazingaudioplayer-title {
	display: block;
	color: #333;
	padding: 8px 24px 0px;
	font-family: "Noto Sans",Arial,sans-serif;
	font-size: 53.75px; /* x2 */
	font-weight: bold;
}


.actualservices .amazingaudioplayer-info {
	display: block;
	color: #555;
	padding: 2px 24px;
	font-family: Arial, sans-serif;
	font-size: 45px; /* x2 */
	font-style: italic;
}


.actualservices .amazingaudioplayer-bar {
	display: block;
	position: relative;
	width: 100%;
	height: 575px; /* x2 */
	background-color: #fbfaf6;
	background-image: -moz-linear-gradient(top,  #fbfaf6 0%, #d7d5cd 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfaf6), color-stop(100%,#d7d5cd));
	background-image: -webkit-linear-gradient(top,  #fbfaf6 0%,#d7d5cd 100%);
	background-image: -o-linear-gradient(top,  #fbfaf6 0%,#d7d5cd 100%);
	background-image: -ms-linear-gradient(top,  #fbfaf6 0%,#d7d5cd 100%);
	background-image: linear-gradient(to bottom,  #fbfaf6 0%,#d7d5cd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfaf6', endColorstr='#d7d5cd',GradientType=0 );
	-webkit-border-bottom-right-radius: 100px;
	-webkit-border-bottom-left-radius: 100px;
	-moz-border-radius-bottomright: 100px;
	-moz-border-radius-bottomleft: 100px;
	border-bottom-right-radius: 100px;
	border-bottom-left-radius: 100px;
}


.actualservices .amazingaudioplayer-bar-clear {
	clear: both;
}


.actualservices .amazingaudioplayer-playpause {
	position: absolute;
	left: 50%;
	margin-left: -24px;
	top: 375px; /* x2 */
	transform: scale(5, 5);
	-webkit-transform: scale(5, 5);
  -moz-transform: scale(5, 5);
  -ms-transform: scale(5, 5);
  -o-transform: scale(5, 5);
}

.actualservices .amazingaudioplayer-play {
	position: relative;
}

.actualservices .amazingaudioplayer-pause {
	position: relative;
}



.actualservices .amazingaudioplayer-progress {
	position: absolute;
	left: 0px;
	top: -40px;
	height: 40px !important;
	background-color: #dad6b4;
	width: 100%;
}

.actualservices .amazingaudioplayer-progress-loaded {
	background-color: #bab49a;
}

.actualservices .amazingaudioplayer-progress-played {
	background-color: #fcc500;
	background-image: -ms-linear-gradient(top, #fede00 0%, #fcc500 100%);
	background-image: -moz-linear-gradient(top, #fede00 0%, #fcc500 100%);
	background-image: -o-linear-gradient(top, #fede00 0%, #fcc500 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fede00), color-stop(1, #fcc500));
	background-image: -webkit-linear-gradient(top, #fede00 0%, #fcc500 100%);
	background-image: linear-gradient(to bottom, #fede00 0%, #fcc500 100%);
}

.actualservices .amazingaudioplayer-time {
	position: absolute;
	top: 78px;
	left: 8px;
	color: #434548;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	line-height: 24px;
	margin: 0 4px;
}

.actualservices .amazingaudioplayer-volume {
	position: absolute;
	top: 72px;
	right: 12%;
	z-index: 2;
	transform: scale(5, 5);
}

.actualservices .amazingaudioplayer-volume-bar {
	background-color: #d5cea6;
	background-image: -moz-linear-gradient(-45deg,  #d5cea6 0%, #c9c190 100%);
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#d5cea6), color-stop(100%,#c9c190));
	background-image: -webkit-linear-gradient(-45deg,  #d5cea6 0%,#c9c190 100%);
	background-image: -o-linear-gradient(-45deg,  #d5cea6 0%,#c9c190 100%);
	background-image: -ms-linear-gradient(-45deg,  #d5cea6 0%,#c9c190 100%);
	background-image: linear-gradient(135deg,  #d5cea6 0%,#c9c190 100%);
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
}

.actualservices .amazingaudioplayer-volume-bar-adjust {
	background-color: #bab49a;
}

.actualservices .amazingaudioplayer-volume-bar-adjust-active {
	background-color: #666;
}


.actualservices .amazingaudioplayer-item-id {
	float: left;
	width: 18px;
}

.actualservices .amazingaudioplayer-item-info {
	float: right;
	width: 36px;
}

.actualservices .amazingaudioplayer-item-title {
	overflow: hidden;
}
